body {
	background: black;
}

.title {
	color: white;
}

.align-center {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column;
}

.players-container {
	margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-box {
	width: 150px;
	margin: 10px;
}

.margin-top {
	margin-top: 15px;
}

.person {
	color: #FFFFFF;
}

.monster-img {
	width: 100px;
}

@media (max-width: 400px) {
	.title {
  		font-size: 20px;
	}
}